<html>

<head>
    <title> About Me </title>

    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body id='about-me'>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a id='myName' class="navbar-brand" href="/">
                    <h1>
                    <%= person.firstName %>
                      <%= person.lastName %>
                      
                  </h1>
                  </a>
            <!-- <h1 id='myName' class="navbar-brand" href="#">
                <%= person.firstName %>
                    <%= person.lastName %> -->

            <!-- </h1> -->
           
                <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/projects">Projects</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <!-- <a class="nav-item nav-link" href="/">Home</a> -->

                </div>
           
        </nav>
        <div>
            <h1 id='about-me'>About Me</h1>
        </div>

        <div class='about'>
            <!-- <img width='200' height='100' class="card-img-top" src='https://i.imgur.com/1Fa1jJe.jpg' alt="Card image cap"> -->
            <img width='300' height='300' src='https://i.imgur.com/1Fa1jJe.jpg'>
        

        <p id='about-section'>
            Hi, I’m Kaiya, an aspiring nurse turned software developer, born and raised in San Diego, CA. Experiencing problems with
            technology in the Nursing field, I realized that my passion for helping other people could be better utilized
            by building higher quality software. A dear friend of mine suggested Origin Code Academy so I took a leap of
            faith and decided to start a new adventure. Over the past year, I've learned so much more than I ever thought,
            both technically and personally. Excited about this new pursuit, I'm looking for a growth-oriented company that
            fulfills my passion by helping people and developing exceptional software for a better tomorrow. ​
            
        
             Thank you for visiting my site! I hope our paths cross soon and our journey begins. Looking forward to meeting you and
            being able to work together in the future!
            
        </p>
        </div>