<html>

<head>
    <title>Contact Kaiya</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- <a href="/">
                    <h1 id='myName' class="navbar-brand" href="/">
                    <%= person.firstName %>
                      <%= person.lastName %>
                      
                  </h1> -->
                  <a id='myName' class="navbar-brand" href="/">
                    <h1>
                    <%= person.firstName %>
                      <%= person.lastName %>
                      
                  </h1>
                  </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
                <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/projects">Projects</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <!-- <a class="nav-item nav-link" href="/">Home</a> -->

                </div>
            </div>
        </nav>
        <div>
            <div id='contact'></div>
        </div>

    </div>
    <div class='card-container'>
      <div class='card' style="max-width: 18rem;">
        <form id='input-contact' action="/thanks" method="POST">
            <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" name="firstName" type="text">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" name="lastName" type="text">
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text">
            </div>
            <input type="submit" />
        </form>
        </div>
        </div>
   
    
       <div>
        <div id='buttons'>
            <a class="btn btn-primary" href="mailto:kaiyawalker87@gmail.com?Subject=Hello%20again" target="_top" role="button">
                <i class="far fa-envelope"></i> Send Email</a>
            <a class="btn btn-primary" href="https://github.com/smartkaiya" role="button">
                <i class="fab fa-github"></i> Git Hub</a>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/kaiya-walker-911691169/" role="button">
                <i class="fab fa-linkedin-in"></i> Linkedin</a>
            <a class="btn btn-primary" href="tel:+16197329960" target="_top" role="button">
                    <i class="fas fa-phone-square"></i> (619)732-9960</a>

            
        </div>

    </div>
</body>

</html>