<html>
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a id='myName' class="navbar-brand" href="/">
              <h1>
              <%= person.firstName %>
                <%= person.lastName %>
                
            </h1>
            </a>    

                  <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/projects">Projects</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                 </div>
                </div>
              </nav>
              </div>
  <div style='display:flex'>
      <div>
          <div class="card" style="max-width: 18rem;">
            <img width='298' height='180' class="card-img-top" src='https://imgur.com/HOvKaHU.jpg' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Origin Calendar</h5>
              <p class="card-text">A sweet app to generate recipes from your ingredients at home using the top 10 recipes online. Using React, Node.js, Javascript, HTML and CSS, Bootstrap, Axios</p>
              <a class="btn btn-primary" href="https://kw-weather-app.herokuapp.com/" role="button">View Project</a>
            </div>
          </div>
        </div>
      
      <div>
          <div class="card" style="max-width: 18rem;">
            <img width='298' height='180' class="card-img-top" src='https://imgur.com/VkxSWrH.jpg' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Movie Finder App</h5>
              <p class="card-text">A sweet app to generate recipes from your ingredients at home using the top 10 recipes online. Using React, Node.js, Javascript, HTML and CSS, Bootstrap, Axios</p>
              <a class="btn btn-primary" href="https://kw-movie-finder.herokuapp.com/" role="button">View Project</a>
            </div>
          </div>
        </div>
      <div>
          <div class="card" style="max-width: 18rem;">
            <img width='298' height='180' class="card-img-top" src='https://imgur.com/nxW4N3Y.jpg' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Origin Weather App</h5>
              <p class="card-text">A sweet app to generate recipes from your ingredients at home using the top 10 recipes online. Using React, Node.js, Javascript, HTML and CSS, Bootstrap, Axios</p>
              <a class="btn btn-primary" href="https://kw-weather-app.herokuapp.com/" role="button">View Project</a>
            </div>
          </div>
        </div>
  <div>
    <div class="card" style="max-width: 18rem;">
      <img width='298' height='180' class="card-img-top" src='https://imgur.com/meeRrZj.jpg' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Whats in your Cabinet?</h5>
        <p class="card-text">A sweet app to generate recipes from your ingredients at home using the top 10 recipes online. Using React, Node.js, Javascript, HTML and CSS, Bootstrap, Axios</p>
        <a class="btn btn-primary" href="https://kw-hackathon.herokuapp.com/" role="button">View Project</a>
      </div>
    </div>
  </div>
  <div class="card" style="max-width: 18rem;">
      <img width='298' height='180' class="card-img-top" src='https://imgur.com/wQP71jj.jpg' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Very Simple ToDo App</h5>
        <p class="card-text">A modivating app to help you get things done while staying organized. Using React, Bootstrap, Express, Javascript, Webpack, Node.js, HTML</p>
        <a class="btn btn-primary" href="https://kw-vstda.herokuapp.com/" role="button">View Project</a>
      </div>
    </div>
    <div class="card" style="max-width: 18rem;">
        <img width='298' height='180' class="card-img-top" src='https://imgur.com/u0mQFgx.jpg' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">San Diego Top Spots</h5>
          <p class="card-text">A cool way to find something fun to do in San Diego, with the top 30 things to do at your fingertips. Using React, Node.js, Javascript, JSON, Axios</p>
          <a class="btn btn-primary" href="https://kw-top-spots.herokuapp.com/" role="button">View Project</a>
        </div>
      </div>

  <div class="card" style="max-width: 18rem;">
    <img width='298' height='180' class="card-img-top" src='https://imgur.com/68zJ3wq.jpg' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Change Calculator</h5>
      <p class="card-text">A simple app to show the amount of change given back, broken down into a variety of increments. Using React, Javascript, Bootstrap, CSS</p>
      <a class="btn btn-primary" href="https://kw-change-calculator.herokuapp.com/" role="button">View Project</a>
    </div>
  </div>

  <!-- <div class="card" style="max-width: 18rem;">
    <img width='298' height='180' class="card-img-top" src='https://imgur.com/u0mQFgx.jpg' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">San Diego Top Spots</h5>
      <p class="card-text">A cool way to find something fun to do in San Diego, with the top 30 things to do at your fingertips. Using React, Node.js, Javascript, JSON, Axios</p>
      <a class="btn btn-primary" href="https://kw-top-spots.herokuapp.com/" role="button">View Project</a>
    </div>
  </div> -->

  <!-- <div class="card" style="max-width: 18rem;">
    <img width='298' height='180' class="card-img-top" src='https://imgur.com/OXEtQpe.jpg' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Very Simple ToDo App</h5>
      <p class="card-text">A modivating app to help you get things done while staying organized. Using React, Bootstrap, Express, Javascript, Webpack, Node.js, HTML</p>
      <a class="btn btn-primary" href="https://kw-vstda.herokuapp.com/" role="button">View Project</a>
    </div>
  </div> -->

  <!-- <div class="card" style="max-width: 18rem;">
    <img width='298' height='180' class="card-img-top" src='https://imgur.com/FRAxzVt.jpg' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mortgage Calculator</h5>

      <p class="card-text">A covenient way to estimate what your mortgage payment would be on a specific home loan. Using React, Javascript, HTML, CSS, Express, Mocha, Chai</p>
      <a class="btn btn-primary" href="https://kw-mortgage-calculator.herokuapp.com/" role="button">View Project</a>
    </div>
  </div>
  </div> -->
</body>

</html>